.main-container {
    width: 100vw;

    background-color: lightblue;
}

.main-container .top-bar {
    width: 100%;
    height: 5vw;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

.main-container .top-bar p{
    font-size: 2.5vh;
    color:black;
}

.button-type{
    display: flex;
}

.main-container .top-bar .button-type .goto-button {
    width: 10vw;
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
    margin-right: 2vw;
    cursor: pointer;
    user-select: none;
}

.main-container .top-bar .button-type .goto-login {
    background-color: lightgreen;
}

.main-container .top-bar .goto-register {
    background-color: lightgray;
}

.goto-button:hover {
    background-color: #4ac1f7;
    /* 鼠标悬停时的背景色 */
}

.goto-button:active {
    background-color: #5897fb;
    /* 按钮被点击时的背景色 */
}

.content{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.image-container {
    position: relative;

    width:100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.image-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;

}

.image-button {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 143, 208, 0.349);
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s;
}


.image-button:hover {
    background-color: #ff87d1d1;
    /* 鼠标悬停时的背景色 */
}

.image-button:active {
    background-color: #ff4cbad1;
    /* 按钮被点击时的背景色 */
}

.image-container img {
    width: 80vw;
    height: 80vh;

    border-radius: 10px;
    user-select: none;
}

.prev {
    left: 10vw;
    color: #ffffff;
    font-size: 2vw;
}

.next {
    right: 10vw;
    color: #ffffff;
    font-size: 2vw;
}

.introduce-container {
    margin-top: 10vh;
    width: 100%;
    height: 80vh;

    display: flex;

    align-items: center;
    flex-direction: column;
}

.introduce-container h3 {
    color: ghostwhite;
    font-size: 2.2vw;
}

.foot{
    height:8vh;
    width: 100%;
    background-color:#aaaaaa;
    color:#212121;
}

.footer p{
    font-size: 1.2vw;
}


