.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* 覆盖整个元素 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复显示图片 */
}

.wrapper .submit-form form {
    background-color: #fff;
    width: 40vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .submit-form .choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .submit-form label {
    box-sizing: border-box;
    user-select: none;
}

.wrapper .submit-form input {
    margin-left: 3vw;
    margin-bottom: 1vw;
}
