.wrapper{
    height: 100vh; /* 设置为视口高度，确保背景图片覆盖整个页面 */
    width: 100vw;

    display:flex;
    justify-content: center;
    align-items: center;

    background-size: cover; /* 覆盖整个元素 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复显示图片 */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* 半透明白色背景，增加可读性 */
    width: 40vw;
    height: 40vh;
    border-radius: 10px; /* 圆角边框 */
}

.login-container h3{
    padding-top:1.5vw;
    text-align: center;

    font-size:1.5vw;
    font-weight: 200;

    user-select: none;
}

.user_password{
    box-sizing: border-box;
    padding:1.5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select:none;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right:1vw;
}

.user input{
    width: 15vw;
    height: 3vh;

    margin-left: 1vw;
}

.password{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2vh;
}

.password input{
    width: 15vw;
    height: 3vh;

    margin-left:1vw;
}

.password_two{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2vh;
}

.password_two input{
    width: 15vw;
    height: 3vh;

    margin-left:1vw;
}

.button_css{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2vw;
}

.button_css button{
    width: 10vw;
    height: 5vh;

    border-radius: 5px;
    background-color: skyblue;
}

.button_css{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:2vw;
}

.select_css{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1vw;
    color: #666;
}

.select_css select {
    border-radius: 5px;
}

