.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

/*顶部样式*/
.wrapper .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.wrapper .header .theme{
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1d90b0;
}

.wrapper .header .theme .title{
    display: flex;
    font-weight: bold;
    font-size: 2vw;
    padding-left: 2vw;
    flex: 0.5;
}

.wrapper .header .theme .title .title_text{
    margin-left: 1vw;
}

.wrapper .header .theme .icon{
    font-weight: bold;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    flex: 1;
}

.wrapper .header .theme .icon .my_homepage{
    flex: 1;
}

.wrapper .header .theme .icon .Review{
    flex: 1;
}

.wrapper .header .theme .icon .teaching_classes{
    flex: 1;
}

.wrapper .header .theme .icon .questions{
    flex: 1;
}

.wrapper .header .theme .chart{
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            1px  1px 0 white,
            -1px  1px 0 white;
    color: #1d90b0;
    display: flex;
    font-size: 1.8vw;
    margin-right: 2.5vw;
    cursor: pointer;
}

.wrapper .content{
    display: flex;
    margin: 0;
}

.wrapper .content .background{
    display: flex;
    margin-top: 4vw;
    width: 20vw;
    height: 38vw;
    background: #ffffff;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    margin-left: 3vw;
}

.wrapper .content .background .avatar{
    margin-top: -1vw;
}

.wrapper .content .background .avatar img{
    margin-left: 7vw;
    display: flex;
    height: 6vw;
    width: 6vw;
    border-radius: 25vw;
    border: 2px #9e9ea2 solid;
    cursor: pointer;
}

.wrapper .content .background .sidebar {
    margin-left: 1vw;
    margin-top: 3vw;
    width: 18vw;
}

.wrapper .content .background .sidebar ul{
    text-align: center;
    list-style-type: none;
}

.wrapper .content .background .sidebar li{
    margin-top: 1vw;
    font-size: 1.5vw;
    padding: 1vw;
    background-color: #f4f4f4;
    border-radius: 16px;
    cursor: pointer;
}

.wrapper .content .background .sidebar li:hover{
    background-color: #ddd;
}

.wrapper .content .content_right .content-item{
    margin-top: 4vw;
    font-size: 2.8vw;
    display: none;
}

.wrapper .content .content_right .content-item .first-content-item-1{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .content .content_right .content-item .first-content-item-1 .p_avatar{
    width: 8vw;
    height: 8vw;
    border-radius: 25vw;
    border: 3px #9e9ea2 solid;
    background-size: cover;
    background-position: center;
}

.wrapper .content .content_right .content-item .first-content-item-1 .file-input{
    display: none;
}

.wrapper .content .content_right .content-item .first-content-item-1 .upload-btn{
    margin-top: 0.6vw;
    font-size: 1vw;
    background-color: #f4f4f4;
    padding: 0.8vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

.wrapper .content .content_right .content-item .first-content-item-1 .upload-btn:hover{
    background-color: #ddd;
}

.wrapper .content .content_right .content-item .first-content-item-2 {
    margin-top: 1vw;
    margin-left: -16vw;
    font-size: 2vw;
}

.wrapper .content .content_right .content-item .first-content-item-3 {
    margin-top: 1vw;
    margin-left: -16vw;
    font-size: 2vw;
}

.wrapper .content .content_right .content-item .first-content-item-4 {
    margin-top: 1vw;
    margin-left: -16vw;
    font-size: 2vw;
}

.wrapper .content .content_right .content-item .second-content-item{
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    border: 5px solid #ddd;
}

.wrapper .content .content_right .content-item .second-content-item .second-content-item-1, .second-content-item-3{
    padding: 0.6vw;
}

.wrapper .content .content_right .content-item .second-content-item .second-content-item-1{
    padding-left: 3vw;
}

.wrapper .content .content_right .content-item .second-content-item .second-content-item-3{
    padding-right: 3vw;
}

.wrapper .content .content_right .content-item .second-content-item .second-content-item-2{
    margin-left: 12vw;
    margin-right: 12vw;
}

.wrapper .content .content_right .content-item .third-content-item{
    display: flex;
    flex-direction: row;
    padding: 5vw;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1{
    margin-top: -6vw;
    width: 18vw;
    height: 32vw;
    border: 5px solid #89dcf3;
    display: flex;
    flex-direction: column;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2{
    margin-top: -6vw;
    margin-left: 4vw;
    width: 18vw;
    height: 32vw;
    border: 5px solid #89dcf3;
    display: flex;
    flex-direction: column;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3{
    margin-top: -6vw;
    margin-left: 4vw;
    width: 18vw;
    height: 32vw;
    border: 5px solid #89dcf3;
    display: flex;
    flex-direction: column;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .brushing-records{
    text-align: center;
    font-size: 1.6vw;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .correctness{
    text-align: center;
    font-size: 1.6vw;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .job-progress{
    text-align: center;
    font-size: 1.6vw;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .item1-easy{
    margin-top: 8vw;
    text-align: center;
    font-size: 1vw;
    color: #4CAF50;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .item1-hard{
    margin-top: 1vw;
    text-align: center;
    font-size: 1vw;
    color: #ef2c2c;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .item1-middle{
    margin-top: 1vw;
    text-align: center;
    font-size: 1vw;
    color: #cccc48;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .item2-easy{
    margin-top: 8vw;
    text-align: center;
    font-size: 1vw;
    color: #4CAF50;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .item2-hard{
    margin-top: 1vw;
    text-align: center;
    font-size: 1vw;
    color: #ef2c2c;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .item2-middle{
    margin-top: 1vw;
    text-align: center;
    font-size: 1vw;
    color: #cccc48;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .item3-end{
    margin-top: 9vw;
    text-align: center;
    font-size: 1vw;
    color: #4CAF50;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .item3-no-end{
    margin-top: 1.5vw;
    text-align: center;
    font-size: 1vw;
    color: #ef2c2c;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .circle-content1{
    display: flex;
    margin-top: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .circle-content1 .circle-content1-basic{
    width: 25vw;
    height: 10vw;
    /*border-radius: 15vw;*/
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .circle-content1 .circle-content1-word{
    font-size: 2vw;
    margin-top: -17vw;
    color: white;
    z-index: 2;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-1 .circle-content1 .circle-content1-sum{
    font-size: 1.5vw;
    margin-top: 0.3vw;
    z-index: 2;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .circle-content2{
    display: flex;
    margin-top: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .circle-content2 .circle-content2-basic{
    width: 25vw;
    height: 10vw;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .circle-content2 .circle-content2-word{
    font-size: 2vw;
    margin-top: -17vw;
    color: white;
    z-index: 2;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-2 .circle-content2 .circle-content2-sum{
    font-size: 1.5vw;
    margin-top: 0.3vw;
    z-index: 2;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .circle-content3{
    display: flex;
    margin-top: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .circle-content3 .circle-content3-basic{
    width: 25vw;
    height: 10vw;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .circle-content3 .circle-content3-word{
    font-size: 2vw;
    margin-top: -17vw;
    color: white;
    z-index: 2;
}

.wrapper .content .content_right .content-item .third-content-item .third-content-item-3 .circle-content3 .circle-content3-sum{
    font-size: 1.5vw;
    margin-top: 0.3vw;
    z-index: 2;
}

.wrapper .content .content_right .content-item .confirmLog{
    font-size: 2vw;
    margin-top: 12vw;
    border: 4px solid #89dcf3;
}

.wrapper .content .content_right .content-item.active{
    display: block;
}

.wrapper .content .content_right{
    display: flex;
    margin-top: 4vw;
    width: 72vw;
    height: 38vw;
    background: #ffffff;
    border-radius: 25px;
    justify-content: center;
    margin-left: 2vw;
}

