<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lib/normalize.css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'lib/@fortawesome/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/admin_style.css' %}">
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
</head>
<body>
<div id="particles-js"></div>
<div class="wrapper">
    <div class="header">
        <div class="theme">
            <div class="title">
                <div class="title_text">试题测试系统</div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="background">
            <div class="logout">logout</div>
            <button>全部注销</button>
        </div>
    </div>
</div>
</body>
    <script src='{% static 'app/js/admin_particles.js' %}'></script>
    <script src="{% static 'app/js/app.js' %}"></script>
</html>