{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎页</title>
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'app/js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/reset.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="top-bar">
            <div>
                <p>欢迎使用！</p>
            </div>
            <div class="button-type">
                <div class="goto-button goto-login">登录</div>
                <div class="goto-button goto-register">注册</div> 
            </div>
        </div>
        <div class="content">
            <div class="image-container">
                <img id="imageToChange" src="{% static 'app/img/background.jpg' %}" alt="change photo">
                <div class="image-buttons">
                    <button id="prevImageBtn" class="image-button prev"><</button>
                    <button id="nextImageBtn" class="image-button next">></button> 
                </div> 
            </div>
            <div class="introduce-container">
                <h3>关于我们</h3>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="foot">
            <p>小组成员:蒋昊 刘承鑫 陈永奇 任铭枫</p>
        </div>
    </div>
</body>
</html>