{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lib/normalize.css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'lib/@fortawesome/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/personal.css' %}">
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'app/js/confirmLogout.js' %}"></script>
    <script src="{% static 'lib/echarts.js' %}"></script>
</head>
<body>
<div id="particles-js"></div>
<div class="wrapper">
    <div class="header">
        <div class="theme">
            <div class="title">
                <div class="title_text">试题测试系统</div>
            </div>
            <div class="icon">
                <div class="my_homepage">主页</div>
                <div class="Review">错题回顾</div>
                <div class="teaching_classes">教学班</div>
                <div class="questions" onclick="location.href='/questions'">题库</div>
            </div>
            <div class="chart">
                <i class="far fa-user-circle"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="background">
            <div class="avatar">
                <img src="{% static 'app/img/avatar.jpg' %}" id="r_avatar" alt=""/>
            </div>
            <div class="sidebar">
                <ul>
                    <li data-content="content1">账户信息</li>
                    <li data-content="content2">教学班信息</li>
                    <li data-content="content3">刷题记录</li>
                    <li data-content="content4">更多设置</li>
                </ul>
            </div>
        </div>
        <div class="content_right">
            <div id="content1" class="content-item">
                <div class="first-content-item-1">
                    <div class="p_avatar" id="p_avatar" style="background-image: url({% static 'app/img/avatar.jpg' %});"></div>
                    <input type="file" id="file-input" class="file-input" accept="image/*">
                    <button class="upload-btn" onclick="document.getElementById('file-input').click();">换头像</button>
                </div>
                <div class="first-content-item-2">账户：</div>
                <div class="first-content-item-3">密码：</div>
                <div class="first-content-item-4">角色：</div>
            </div>
            <div id="content2" class="content-item">
                <div class="second-content-item">
                    <div class="second-content-item-1">教学班编号</div>
                    <div class="second-content-item-2">教学班名称</div>
                    <div class="second-content-item-3">教师姓名</div>
                </div>
            </div>
            <div id="content3" class="content-item">
                <div class="third-content-item">
                    <div class="third-content-item-1">
                        <p class="brushing-records">刷题记录</p>
                        <div class="circle-content1">
                            <div id="6002b0f3f7c74203bb5d1e2fc7983022" class="circle-content1-basic" style="width: 29vw !important; height: 29vw !important;
                                margin-top: -9vw"></div>
                            <p class="circle-content1-word">全部</p>
                            <p class="circle-content1-sum">0/0</p>
                        </div>
                        <p class="item1-easy">简单：0/0</p>
                        <p class="item1-hard">困难：0/0</p>
                        <p class="item1-middle">中等：0/0</p>
                    </div>
                    <div class="third-content-item-2">
                        <p class="correctness">正确率</p>
                        <div class="circle-content2">
                            <div class="circle-content2-basic"></div>
                            <p class="circle-content2-word">全部</p>
                            <p class="circle-content2-sum">0</p>
                        </div>
                        <p class="item2-easy">简单：0/0</p>
                        <p class="item2-hard">困难：0/0</p>
                        <p class="item2-middle">中等：0/0</p>
                    </div>
                    <div class="third-content-item-3">
                        <p class="job-progress">作业进度</p>
                        <div class="circle-content3">
                            <div class="circle-content3-basic"></div>
                            <p class="circle-content3-word">全部</p>
                            <p class="circle-content3-sum">0/0</p>
                        </div>
                        <p class="item3-end">截止已完成：0/0</p>
                        <p class="item3-no-end">截止未完成：0/0</p>
                    </div>
                </div>
            </div>
            <div id="content4" class="content-item">
                <button onclick="confirmLogout()" class="confirmLog">注销账号</button>
            </div>
        </div>
    </div>
</div>

</body>
    <script src='{% static 'app/js/particles.js' %}'></script>
    <script src="{% static 'app/js/app.js' %}"></script>
    <script src="{% static 'app/js/personal.js' %}"></script>
    <script src="{% static 'app/js/avatar.js' %}"></script>
    <script src="{% static 'app/js/charts.js' %}"></script>
</html>