{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'lib/normalize.css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'lib/@fortawesome/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/post_question.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/teacher_style.css' %}">
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'app/js/post_question.js' %}"></script>
    <title>发布问题</title>
</head>
<body>
<div id="particles-js"></div>
<div class="wrapper">
    <div class="header">
        <div class="theme">
            <div class="title">
                <div class="title_text">试题测试系统</div>
            </div>
            <div class="icon">
                <div class="my_homepage">主页</div>
                <div class="recommend">发布问题</div>
                <div class="objective_question">随机组卷</div>
                <div class="Fill_in_the_blank_questions">题库</div>
            </div>
            <div class="chart">
                <i class="far fa-user-circle"></i>
            </div>
        </div>
    </div>
    <div class="submit-form">
        <form action="/postquestion/api/" method="post">
            {% csrf_token %}
            <div class="description">
                <label for="description">题目描述:</label>
                <input type="text" id="description" name="description" placeholder="请输入题目描述" />
            </div>
            <div class="choices">
                <div>
                    <label for="choice_a">选项A:</label>
                    <input type="text" id="choice_a" name="choice_a" placeholder="请输入选项A" />
                </div>
                <div>
                    <label for="choice_b">选项B:</label>
                    <input type="text" id="choice_b" name="choice_b" placeholder="请输入选项B" />
                </div>
                <div>
                    <label for="choice_c">选项C:</label>
                    <input type="text" id="choice_c" name="choice_c" placeholder="请输入选项C" />
                </div>
                <div>
                    <label for="choice_d">选项D:</label>
                    <input type="text" id="choice_d" name="choice_d" placeholder="请输入选项D" />
                </div>
                <div>
                    <label for="answer">答案:</label>
                    <input type="text" id="answer" name="answer" placeholder="请输入答案" />
                </div>
            </div>
            <div class="knowledge">
                <div>
                    <label for="knowledge_point">知识点:</label>
                    <input type="text" id="knowledge_point" name="knowledge_point" placeholder="请输入知识点" />
                </div>
                <div>
                    <label for="parse">解析:</label>
                    <input type="text" id="parse" name="parse" placeholder="请输入解析" />
                </div>
            </div>
            <div class="difficulty">
                <label for="difficulty">难度系数:</label>
                <input type="text" id="difficulty" name="difficulty" placeholder="请输入难度系数" />
            </div>
            <button type="submit">提交</button>
        </form>
    </div>
</div>
</body>
    <script src='{% static 'app/js/particles.js' %}'></script>
    <script src="{% static 'app/js/app.js' %}"></script>
</html>
