{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'app/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/post_question.css' %}">
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'app/js/post_question.js' %}"></script>
    <title>发布问题</title>
</head>
<body>
    <div class="wrapper" style="background-image: url({% static 'app/img/background.jpg' %})">
        <div class="submit-form">
            <form action="/postquestion/api/" method="post">
                {% csrf_token %}
                <div class="description">
                    <label for="description">题目描述:</label>
                    <input type="text" id="description" name="description" />
                </div>
                <div class="choices">
                    <div>
                        <label for="choice_a">选项A:</label>
                        <input type="text" id="choice_a" name="choice_a" />
                    </div>
                    <div>
                        <label for="choice_b">选项B:</label>
                        <input type="text" id="choice_b" name="choice_b" />
                    </div>
                    <div>
                        <label for="choice_c">选项C:</label>
                        <input type="text" id="choice_c" name="choice_c" />
                    </div>
                    <div>
                        <label for="choice_d">选项D:</label>
                        <input type="text" id="choice_d" name="choice_d" />
                    </div>
                    <div>
                        <label for="answer">答案:</label>
                        <input type="text" id="answer" name="answer" />
                    </div>
                </div>
                <div class="knowledge">
                    <div>
                        <label for="knowledge_point">知识点:</label>
                        <input type="text" id="knowledge_point" name="knowledge_point" />
                    </div>
                    <div>
                        <label for="parse">解析:</label>
                        <input type="text" id="parse" name="parse" />
                    </div>
                </div>
                <div class="difficulty">
                    <label for="difficulty">难度系数:</label>
                    <input type="text" id="difficulty" name="difficulty" />
                </div>
                <button type="submit">提交</button>
            </form>
        </div>
    </div>
</body>
</html>
