{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>推荐页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lib/normalize.css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'lib/@fortawesome/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'app/js/getMistakes.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/css/recommend.css' %}">
</head>
<body>
<div id="particles-js"></div>
<div class="wrapper">
    <div class="header">
        <div class="theme">
            <div class="title">
                <div class="title_text">试题测试系统</div>
            </div>
            <div class="icon">
                <div class="my_homepage" onclick="location.href = '/homepage/'">主页</div>
                <div class="recommend">错题回顾</div>
                <div class="teaching_classes" onclick="location.href = '/exam/'">限时测试</div>
                <div class="questions" onclick="location.href = '/questions/'">题库</div>
            </div>
            <div class="chart">
                <i class="far fa-user-circle"></i>
            </div>
        </div>
        <div class="homepage">
            <div class="mistake_list">
                <div class="title"><h3>错题列表</h3></div>
                <div id="questions" class="mistakes">
                     <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
    <script src='{% static 'app/js/particles.js' %}'></script>
    <script src="{% static 'app/js/app.js' %}"></script>
</html>
