{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教学班界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lib/normalize.css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'lib/@fortawesome/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="{% static 'app/js/jquery-3.7.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/css/teaching_classes.css' %}">
</head>
<body>
<div id="particles-js"></div>
<div class="wrapper">
    <div class="header">
        <div class="theme">
            <div class="title">
                <div class="title_text">试题测试系统</div>
            </div>
            <div class="icon">
                <div class="my_homepage">主页</div>
                <div class="recommend">推荐</div>
                <div class="teaching_classes">教学班</div>
                <div class="questions">题库</div>
            </div>
            <div class="chart">
                <i class="far fa-user-circle"></i>
            </div>
        </div>
        <div class="homepage">
            <i class=""></i>
        </div>
    </div>

    <div class="content1">
        <div class="course">
            <p class="course_name">课程名称</p>
            <div class="course_info">   
                <div class="course_info1"></div>
                <div class="course_info2"></div>
                <div class="course_info3"></div>
                <div class="course_info4"></div>
                <div class="course_info5"></div>
                <div class="skip1">展开更多</div>
            </div> 
        </div>
    </div>

    <div class="content2">
        <div class="content_left">
            <p class="content_left_word1">教学班信息</p>
            <div class="report">
                <div class="report1"></div>
                <div class="report2"></div>
                <div class="report3"></div>
                <div class="report4"></div>
                <div class="report5"></div>
                <div class="report6"></div>
                <div class="report7"></div>
                <div class="report8"></div>
                <div class="skip2">展开更多</div>
            </div>
            <hr>
            <p class="content_left_word2">发布信息</p>
        </div>
        <div class="content_center">
            <p class="content_center_word">信息</p>
            <div class="date">
                <div class="date1">
                    <p id="week1" class="week1"></p>
                    <p id="date1" class="day1"></p>
                </div>
                <div class="date2">
                    <p id="week2" class="week2"></p>
                    <p id="date2" class="day2"></p>
                </div>
                <div class="date3">
                    <p id="week3" class="week3"></p>
                    <p id="date3" class="day3"></p>
                </div>
                <div class="date4">
                    <p id="week4" class="week4"></p>
                    <p id="date4" class="day4"></p>
                </div>
                <div class="date5">
                    <p id="week5" class="week5"></p>
                    <p id="date5" class="day5"></p>
                </div>
                <div class="date6">
                    <p id="week6" class="week6"></p>
                    <p id="date6" class="day6"></p>
                </div>
                <div class="date7">
                    <p id="week7" class="week7"></p>
                    <p id="date7" class="day7"></p>
                </div>
            </div>
            <div id="yiyan"></div>
        </div>
        <div class="content_right">
            <div class="content_right_top">
                <p class="top_word">作业信息</p>
            </div>
        </div>
    </div>
</div>

</body>
    <script src='js/particles.js'></script>
    <script src="js/app.js"></script>
</html>